Source: quarkplayer
Section: graphics
Priority: extra
Maintainer: Tanguy Krotoff <tkrotoff@gmail.com>
Build-Depends: debhelper (>= 7), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://phonon-vlc-mplayer.googlecode.com/

Package: quarkplayer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Phonon media player
 QuarkPlayer is a multimedia application that plays your music and videos.
 QuarkPlayer can use different backends (DirectShow, MPlayer, Xine,
 GStreamer, VLC...) thanks to Qt and the Phonon library.
 It also relies on an advanced plugin system and is available under Windows,
 Linux and soon Mac OS X.
