#include <winresrc.h>

IDI_ICON0 ICON "${CMAKE_CURRENT_SOURCE_DIR}/icons/quarkplayer.ico"
IDI_ICON1 ICON "${CMAKE_CURRENT_SOURCE_DIR}/icons/mimetypes/audio-x-generic.ico"
IDI_ICON2 ICON "${CMAKE_CURRENT_SOURCE_DIR}/icons/mimetypes/video-x-generic.ico"
IDI_ICON3 ICON "${CMAKE_CURRENT_SOURCE_DIR}/icons/mimetypes/playlist-x-generic.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION @QUARKPLAYER_MAJOR_VERSION@,@QUARKPLAYER_MINOR_VERSION@,@QUARKPLAYER_PATCH_VERSION@,0
	PRODUCTVERSION @QUARKPLAYER_MAJOR_VERSION@,@QUARKPLAYER_MINOR_VERSION@,@QUARKPLAYER_PATCH_VERSION@,0
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	//FILETYPE VFT_DLL
	FILETYPE VFT_APP
	FILESUBTYPE VFT2_UNKNOWN
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			//Lang=US English, CharSet=Unicode
			BLOCK "040904B0"
			BEGIN
				VALUE "ProductName", "@QUARKPLAYER_NAME@"
				VALUE "ProductVersion", "@QUARKPLAYER_VERSION@"
				VALUE "Comments", "@QUARKPLAYER_DESCRIPTION_SUMMARY@"
				VALUE "CompanyName", "@QUARKPLAYER_AUTHORS@"
				VALUE "LegalCopyright", "@QUARKPLAYER_COPYRIGHT@"
				VALUE "FileDescription", "@QUARKPLAYER_NAME@"
				VALUE "FileVersion", "@QUARKPLAYER_VERSION@"
				VALUE "InternalName", "@QUARKPLAYER_NAME@"
				VALUE "OriginalFilename", "@QUARKPLAYER_BINARY_NAME@"
			END
		END

		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1200
		END
	END
